#main-header {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 10em;
    outline: 0;
    color: blue;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0;
    vertical-align: baseline;
}

#navbar {
    list-style: none;
    text-transform: uppercase;
}

#header-intro {
    padding: 0em 10em;
}

p {
    font-size: 1.5em;
    text-align: center;
} 

.footer {
    width: 100%;
    background-color: #f6f6f6;
    padding: 4em 0 3em 0em;
    font-family: 'Lato';
    vertical-align: baseline;
}

#contact-us {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 2em;
}